@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.navbardev {
    position: relative; /* ou qualquer outro valor de posição que suporte z-index */
    z-index: 10;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .rodape {
    width: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0.5rem; /* Desloca o .main-content para cima */
}

.resultado, .container, .co2 {
    text-align: center;
    margin-top: 0.2rem;
}

.resultado h1 {
    font-family: 'Acme';
    font-size: 1.8rem;
    color: #086400;
}

.lista_resultados, .co2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista_resultados p, .co2 p {
    color: #086400;
    font-size: 1.2rem;
}

.lista_resultados h2, .co2 h2 {
    width: 25rem;
    height: 3rem;
    text-align: center;
    font-family: 'Acme';
    color: #086400;
    font-size: 1.4rem;
    border: 0.2rem solid #FAC254;
    border-radius: 0.8rem;
    margin-top: 0.2rem;
}

.novo_calc, .historico {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    border-style: none;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0;
}

.novo_calc {
    background: #FAC254;
    color: #FFFFFF;
}

.historico {
    border: 0.2rem solid #FAC254;
    background: #FFFFFF;
    color: #FAC254;
}

.img_lamp {
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    z-index: 5;
}

.logoEcosaver {
    position: fixed;
    bottom: calc(2rem + 2rem);
    left: 5rem;
    z-index: 5;
}

.logoEcosaver img {
    width: 15rem;
}

.rodape {
    position: fixed;
    background-color: #FAC254;
    height: 1rem;
    padding: 1.2rem;
    color: #FFFBEF;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex; /* Adiciona flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

@media only screen and (max-width: 768px) {
    .img_lamp {
        display: none;
    }

    .logoEcosaver {
        position: relative;
        justify-content: center;
        text-align: center;
        bottom: auto;
        left: auto;
        margin-top: 2rem;
    }

    .logoEcosaver img {
        width: 10rem; /* ajuste conforme necessário */
    }

    .rodape {
        position: relative;
    }
}
