@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #FFFBEF !important;
}

.flex-center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    top: -10rem;
}

.title {
    color: #086400;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.input-mail {
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #FFA900;
    border-radius: 10px;
    background-color: transparent;
    padding: 1% 1%;
}

.input-password {
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #FFA900;
    border-radius: 10px;
    background-color: transparent;
    padding: 1% 1%;
}

input:focus {
    outline: none;
}

.input-mail::placeholder {
    margin-left: 10px;
    color: #086400;
    font-weight: 600;
}

.input-password::placeholder {
    margin-left: 10px;
    color: #086400;
    font-weight: 600;
}


.link {
    font-family: "Acme", sans-serif;
    text-decoration: none;
    color: #086400;
    font-weight: 400;
    cursor: pointer;
}

.btn-gotocadastro {
    background-color: #FFA900E5;
    border-style: none;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    color: #FFFBEF;
}

.navbar {
    background-color: #FAC254;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.navbar ul li {
    margin-right: 20px; 
}

.navbar ul li:last-child {
    margin-right: 0; 
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px; 
    transition: all 0.3s ease; 
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.logo img {
    margin-left: 100px;
    height: 30px; 
}

.user img {
    margin-right: 100px;
    height: 40px; 
}

.conteudo {
    background-color: #FFFBEF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.nossa-historia {
    color: #086400;
    width: 40%; 
    text-align: center;
    margin-right: 100px;
    line-height: 1.5;
}

.nossa-historia img {
    max-width: 222px;
}

.imagem-container {
    max-width: 325px;
    border: 2px solid #D99000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.maos img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    text-align: center;
}

.github-container {
    margin-top: 20px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #FAC254;
    padding: 15px;
    color: #FFFBEF;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        justify-content: center; 
    }

    .logo img {
        margin-left: 20px; 
    }

    .user img {
        margin-right: 20px; 
    }

    .conteudo {
        padding: 20px; 
    }

    .nossa-historia {
        width: 100%; 
        margin-right: 0; 
    }

    .imagem-container {
        margin-left: 0; 
    }
}

.input-border-orange {
    border-color: orange;
}

.card-no-border {
    border: none; /* Remove a borda do card */
    background: transparent; /* Torna o fundo do card transparente */
}

.btn-orange {
    background-color: orange; /* Cor de fundo do botão */
    border-color: orange; /* Cor da borda do botão */
}

    .btn-orange:hover {
        background-color: darkorange; /* Cor de fundo do botão ao passar o mouse */
        border-color: darkorange; /* Cor da borda do botão ao passar o mouse */
    }
.logo-img {
    height: 40px;
}

.navbar-toggler {
    border: none;
}

.custom-btn {
    color: white;
    font-weight: bold;
    background-color: transparent;
    box-shadow: none;
    margin-right: 10px;
}

    .custom-btn:last-child {
        margin-right: 0;
    }

.user-icon {
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}